<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pig.goods.mapper.TbPanelContentMapper">

	<resultMap id="tbPanelContentMap" type="com.pig4cloud.pig.goods.entity.TbPanelContent">
		<id property="id" column="id"/>
		<result property="panelId" column="panel_id"/>
		<result property="type" column="type"/>
		<result property="productId" column="product_id"/>
		<result property="sortOrder" column="sort_order"/>
		<result property="fullUrl" column="full_url"/>
		<result property="picUrl" column="pic_url"/>
		<result property="picUrl2" column="pic_url2"/>
		<result property="picUrl3" column="pic_url3"/>
		<result property="created" column="created"/>
		<result property="updated" column="updated"/>
	</resultMap>
</mapper>
